<!--The content below is only a placeholder and can be replaced.-->

<body>
  <nav class="navbar navbar-inverse">
    <!-- route link -->
    <ul class="nav navbar-nav">
      <li><a routerLink="item-table">Table View</a></li>
      <li><a routerLink="item-panel">Panel View</a></li>
    </ul>
  </nav>


  <div class="col-md-10">
    <!-- Routed views go here -->
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>

    <div class="col-md-3">
      <basket></basket>
    </div>
  </div>

</body>
