<div class="panel panel-default">
  <div class="panel-body">
    This is the {{title}}!
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Inventory</div>

</div>

<div class="row">
  <div class="col-sm-6 col-md-4" *ngFor="let item of items">
    <div class="thumbnail">
      <img src="{{item.image}}">
      <div (addToBasket)="OnItemAdd($event)" class="caption">
        <h4>{{item.title}}</h4>
        <p>{{item.desc}}</p>
        <hr>
        <p style="display: inline-block;">$ {{item.price}}</p>
        <button class="btn btn-primary pull-right" (click)="onAdd()">add to cart</button>
      </div>
    </div>
  </div>
</div>
